# Ignore node_modules from both frontend and backend
**/node_modules
**/npm-debug.log


# Ignore local build artifacts


# Ignore IDE/editor configs
*.log
.vscode
.idea
.DS_Store

# Ignore uploads if you mount them via volume
backend/uploads

# Git
.git
.gitignore

# Docker files we don’t want to copy into the image
docker-compose.yml
Dockerfile
